PUBLIC_SPOTIFY_ID="xxx"
PUBLIC_REDIRECT_URI="http://localhost:5173/"
SPOTIFY_SECRET="xxx"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="spotify-currently-playing"
POSTGRES_HOST="127.0.0.1"
